In [1]:
import pandas as pd  # Manipulação de dados

In [15]:
data = pd.read_csv('evasao_escolar_ensino_medio.csv')

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30654 entries, 0 to 30653
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Idade                                         30654 non-null  int64
 1   Gênero                                        30654 non-null  object
 2   Série                                         30654 non-null  int64
 3   Média de Notas                                30654 non-null  float64
 4   Frequência                                    30654 non-null  float64
 5   Participação em Atividades Extracurriculares  30654 non-null  object
 6   Motivo da Evasão                              30654 non-null  object
 7   Renda Familiar                                30654 non-null  float64
 8   Localização                                   30654 non-null  object
dtypes: float64(3), int64(2), object(4)
memory usage: 2.1+ MB

In [5]:
motivo_evasao = data['Motivo da Evasão'].value_counts()
print(motivo_evasao)

Motivo da Evasão
0                          18334
Problemas Financeiros       1822
Falta de Interesse          1784
Falta de Apoio Escolar      1757
Outros                      1746
Problemas de Saúde          1742
Problemas Familiares        1739
Falta de Apoio Familiar     1730
Name: count, dtype: int64

In [6]:
data.head(100)

,Idade,Gênero,Série,Média de Notas,Frequência,Participação em Atividades Extracurriculares,Motivo da Evasão,Renda Familiar,Localização
0,14,Masculino,3,7.84,29.67,Sim,0,4341.33,Urbana
1,16,Feminino,1,7.92,84.45,Sim,0,1849.75,Urbana
2,15,Masculino,3,8.97,8.49,Não,0,3941.49,Rural
3,19,Masculino,2,9.95,29.13,Não,0,4158.90,Rural
4,14,Feminino,3,9.13,45.56,Sim,0,864.23,Rural
...,...,...,...,...,...,...,...,...,...
95,15,Masculino,3,6.30,90.03,Não,0,4492.90,Rural
96,15,Masculino,1,5.76,40.91,Não,0,4210.26,Urbana
97,19,Masculino,3,8.06,66.17,Não,0,1415.67,Urbana
98,15,Feminino,3,5.81,18.73,Não,0,1682.09,Urbana
99,15,Masculino,2,7.95,89.78,Não,0,4634.30,Urbana

In [7]:
data['Motivo da Evasão'].unique()

array(['0', 'Falta de Apoio Familiar', 'Problemas Financeiros', 'Outros',
       'Falta de Interesse', 'Problemas Familiares',
       'Falta de Apoio Escolar', 'Problemas de Saúde'], dtype=object)

In [8]:
# Contar o número de evadidos (Motivo da Evasão diferente de '0')
evadidos = data[data['Motivo da Evasão'] != '0'].shape[0]

# Contar o número de não evadidos (Motivo da Evasão igual a '0')
nao_evadidos = data[data['Motivo da Evasão'] == '0'].shape[0]

print(f'Total de Evadidos: {evadidos}')
print(f'Total de Não Evadidos: {nao_evadidos}')

Total de Evadidos: 12320
Total de Não Evadidos: 18334

In [9]:
# Filtrar as linhas onde o motivo da evasão é diferente de '0' (ou seja, os evadidos)
evadidos = data[data['Motivo da Evasão'] != '0']

# Contar o número de evadidos por gênero
contagem_por_genero = evadidos['Gênero'].value_counts()

print(contagem_por_genero)

Gênero
Masculino    6331
Feminino     5989
Name: count, dtype: int64

In [10]:
print(data.shape)

(30654, 9)

In [11]:
print(data[data['Motivo da Evasão'] == '0'].shape)

(18334, 9)

In [12]:
print(data[data['Motivo da Evasão'] != '0'].shape)

(12320, 9)

In [14]:
import pandas as pd
import random

# Carregar o arquivo CSV existente
df = pd.read_csv('evasao_escolar_ensino_medio.csv')

# Definindo os valores possíveis para cada variável
idades = [14, 15, 16, 17, 18, 19]
generos = ['Feminino', 'Masculino']
series = [1, 2, 3]
participacao_extracurriculares = ['Sim', 'Não']
motivos_evasao = ['0', 'Falta de Apoio Familiar', 'Falta de Apoio Escolar', 
                  'Falta de Interesse', 'Outros', 'Problemas de Saúde', 
                  'Problemas Financeiros', 'Problemas Familiares']
localizacoes = ['Urbana', 'Rural']

# Lista para armazenar novos registros
novos_registros = []

# Geração de 154 novos registros
for _ in range(1654):
    genero = random.choice(generos)
    if genero == 'Feminino':
        motivo = '0'
    else:
        motivo = random.choice(motivos_evasao[1:])  # Motivos que não sejam '0' para Masculino

    novo_registro = {
        'Idade': random.choice(idades),
        'Gênero': genero,
        'Série': random.choice(series),
        'Média de Notas': round(random.uniform(0, 10), 2),
        'Frequência': round(random.uniform(0, 100), 2),
        'Participação em Atividades Extracurriculares': random.choice(participacao_extracurriculares),
        'Motivo da Evasão': motivo,
        'Renda Familiar': round(random.uniform(800, 5000), 2),
        'Localização': random.choice(localizacoes)
    }
    
    # Adiciona o novo registro à lista
    novos_registros.append(novo_registro)

# Criar um DataFrame com os novos registros
df_novos = pd.DataFrame(novos_registros)

# Concatenar os novos registros ao DataFrame original
df = pd.concat([df, df_novos], ignore_index=True)

# Salvar os dados atualizados em um novo arquivo .csv
df.to_csv('dados_evasao_atualizados.csv', index=False)