In [1]:
import pandas as pd  # Manipulação de dados

In [3]:
data = pd.read_csv('evasao_escolar_ensino_medio.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   Idade                                         100000 non-null  int64
 1   Gênero                                        100000 non-null  object
 2   Série                                         100000 non-null  int64
 3   Média de Notas                                100000 non-null  float64
 4   Frequência                                    100000 non-null  object
 5   Participação em Atividades Extracurriculares  100000 non-null  object
 6   Motivo da Evasão                              100000 non-null  object
 7   Renda Familiar                                100000 non-null  int64
 8   Localização                                   100000 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 6.9+ MB

In [5]:
motivo_evasao = data['Motivo da Evasão'].value_counts()
print(motivo_evasao)

Motivo da Evasão
0                          60054
Falta de Apoio Escolar      5791
Problemas de Saúde          5751
Problemas Familiares        5730
Falta de Apoio Familiar     5724
Problemas Financeiros       5707
Falta de Interesse          5648
Outros                      5595
Name: count, dtype: int64

In [6]:
data.head()

,Idade,Gênero,Série,Média de Notas,Frequência,Participação em Atividades Extracurriculares,Motivo da Evasão,Renda Familiar,Localização
0,17,Feminino,1,9.3,64.2%,Não,Falta de Apoio Familiar,3137,Urbana
1,18,Feminino,2,6.4,79.0%,Não,0,2958,Rural
2,16,Masculino,3,8.0,70.9%,Sim,0,1777,Rural
3,16,Feminino,3,6.0,89.0%,Não,Falta de Apoio Escolar,4636,Rural
4,19,Masculino,1,7.1,60.8%,Sim,0,2045,Rural

In [7]:
# Contar o número de evadidos (Motivo da Evasão diferente de '0')
evadidos = data[data['Motivo da Evasão'] != '0'].shape[0]

# Contar o número de não evadidos (Motivo da Evasão igual a '0')
nao_evadidos = data[data['Motivo da Evasão'] == '0'].shape[0]

print(f'Total de Evadidos: {evadidos}')
print(f'Total de Não Evadidos: {nao_evadidos}')

Total de Evadidos: 39946
Total de Não Evadidos: 60054

In [8]:
# Filtrar as linhas onde o motivo da evasão é diferente de '0' (ou seja, os evadidos)
evadidos = data[data['Motivo da Evasão'] != '0']

# Contar o número de evadidos por gênero
contagem_por_genero = evadidos['Gênero'].value_counts()

print(contagem_por_genero)

Gênero
Feminino     24935
Masculino    15011
Name: count, dtype: int64

In [9]:
print(data.shape)

(100000, 9)

In [9]:
print(data[data['Motivo da Evasão'] == '0'].shape)

(64178, 9)

In [10]:
print(data[data['Motivo da Evasão'] != '0'].shape)

(35822, 9)

In [13]:
# Contar o total de alunos em cada série
total_por_serie = data['Série'].value_counts()

# Exibir os resultados
print("Total de alunos em cada série:")
print(total_por_serie)

Total de alunos em cada série:
Série
2    10155
1    10019
3     9826
Name: count, dtype: int64